h1, h2, h3, h4, p, li, td, a, button, input {
	font-family: "DM Mono", monospace;
	font-weight: 500;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 20px;
}
